.container {
      border: none;
      margin:auto;
      display: flex;
      flex-flow: column nowrap;
}


.container img {
     max-width: 18.8rem;
      max-height: 18.8rem;
      margin: 1.5rem auto;
      display: block;
}