* {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
}

body {
      line-height: 1;

}

ol, ul {
      list-style: none;
}

blockquote, q {
      quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
      content: '';
      content: none;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

.container {
      border: 1px solid red;
      /* margin: 4rem 20px; */
      
      width: 1000px;
      min-height: 600px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      box-shadow: 1px 0px 5px 5px rgba(255, 0, 0, 0.239);
      border-radius: 10px;
}

.container img {
      width: 18.8rem;
      height: 18.8rem;
      margin: 20px;
      cursor: pointer;

}
